<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Histórico
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="medium">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Histórico</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-item-sliding *ngFor="let historico of historicos">

  <ion-item lines="full">
    <ion-label>
    <div>
      <p position="stacked">
        <ion-icon name="time-outline"></ion-icon> {{historico.datahora}}
      </p>
      <p>
        <ion-icon name="qr-code-outline" class="ion-icon-qr"></ion-icon> {{historico.leitura}}
      </p>
      
    </div>
  </ion-label>
  </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
</ion-item-sliding>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
